@use '../variables' as *;

.toggle {
  display: block;
  position: fixed;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  right: 35px;
  top: 35px;
  z-index: 99;
  width: 32px;
  height: 22px;
  
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__indicator {
    position: relative;
    height: 1.3em;
    width: 1.3em;
  }

  &__bar {
    width: 32px;
    height: 2px;
    background-color: $main-color;
    position: absolute;
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      top: 10%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 90%;
    }
  }

  &__input:checked + &__indicator {
    .toggle__bar {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

      &:nth-child(3) {
        transform: translateX(-50px);
        opacity: 0;
      }
    }
  }
}
