@use '../variables' as *;

body {
  font-size: $font-size-base; 
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

p {
  font-weight: $font-weight-normal;
  margin-bottom: $space-md; 
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}