@use '../variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base; 
  line-height: 1.5;
  background-color: $main-color;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

// p {
//   font-weight: $font-weight-normal;
//   margin-bottom: $space-md; 
// }

a {
  text-decoration: none;
}